/.htaccess

common/config/bootstrap.php
common/components/MailComponent.php

environments/environment.php

/uploads

!assets/.gitignore

!admin/assets/.gitignore
!admin/.htaccess
admin/index.php

!backend/.htaccess
!backend/assets/.gitignore
!backend/runtime/.gitignore
backend/index.php

!frontend/.htaccess
!frontend/assets/.gitignore
!frontend/runtime/.gitignore
frontend/index.php

/vendor/*

/backend/views/message-centre/create_BACKUP_7320.php
/backend/views/message-centre/create_BASE_7320.php
/backend/views/message-centre/create_LOCAL_7320.php
/backend/views/message-centre/create_REMOTE_7320.php

/themes/admin/.sass-cache/*
/themes/admin/images/old*
